<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hackstyle.org.hscommander">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="hackstyle.org.activity.IntroActivity" android:logo="@drawable/house">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="hackstyle.org.activity.NovoSensorActivity" />
        <activity
            android:name="hackstyle.org.activity.VarreduraSensoresActivity"
            android:noHistory="true" />
        <activity android:name="hackstyle.org.main.HSCommander" />
        <activity android:name="hackstyle.org.activity.SensoresActivity" android:parentActivityName="hackstyle.org.activity.IntroActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hackstyle.org.activity.IntroActivity">
            </meta-data>
        </activity>

        <activity android:name="hackstyle.org.activity.CheckNovoSensorActivity" />
        <activity android:name="hackstyle.org.activity.DetalheAmbienteActivity" />

        <activity
            android:name="hackstyle.org.activity.DetalheSensorActivity"
            android:screenOrientation="portrait" android:parentActivityName="hackstyle.org.activity.SensoresActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hackstyle.org.activity.SensoresActivity">
            </meta-data>
        </activity>

        <activity android:name="hackstyle.org.activity.DetalheCargaActivity" />
        <activity
            android:name="hackstyle.org.activity.GerenciaAmbienteActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="hackstyle.org.activity.WiFiCredentialsActivity" />
        <activity android:name="hackstyle.org.activity.ComandosGeraisActivity" />
        <activity
            android:name="hackstyle.org.activity.BrandNewSensorActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="hackstyle.org.service.SensorCollector"
            android:exported="false" />

        <activity android:name="hackstyle.org.wizard.WizardActivity"></activity>
    </application>

</manifest>